<div class="sidebar">
  <span class="author">
    <div class="bioheader"><img src="{{site.author.image}}" alt="{{site.author.name}}" /><span>Tamar Rucham</span></div>
    <p style="-moz-user-select: none; user-select: none;">
      <strong>11</strong> years as a software engineer.
      <br />
      <strong>7</strong> years as a mom.
      <br />
      <strong>5</strong> years as a single mom.
      <br />
      <strong>2</strong> years as engineering manger.
      <br />
      <strong>Almost a year</strong> working on my startup <a href="{{site.psurl}}">ParentScheduler - simpler scheduling for parents.</a>
    </p>
  </span>
  <span class="signup">
    <p>
      Wanna stay updated with new posts?
      {% include signup.html %}
    </p>
  </span>
</div>
