<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <span class="desktop-visible">
        {% include bio.html %}
      </span>
      <span class="posts">
        {% for post in site.posts %}
        <div class="post-container">
          <span class="image">
            <img src="{{post.small-image}}" width="150px" />
          </span>
          <span class="post">
            <a href="{{site.baseurl}}{{post.url}}"><h3>{{post.title}}</h3></a>
            <small>{{post.date|date_to_string}}</small>
            <p>
              {{post.subtitle|truncate: 90}}
            </p>
          </span>
        </div>
        {% endfor %}
        <span class="phone-visible" style="margin-top: 20px;">
          {% include bio.html %}
        </span>
      </span>
    </main>
    {% include footer.html %}
  </body>
</html>
