<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <span class="author">
        <img src="{{site.author.image}}" alt="{{site.author.name}}" />
        <p>
          {{site.author.name}}
        </p>
        <p style="-moz-user-select: none; user-select: none;">
          {{site.author.bio}}
        </p>
      </span>
      <article>
        <div class="meta">
          <h1 class="title">
            {{page.title}}
          </h1>
          <small>{{page.date|date_to_string}}</small>
        </div>
        <div class="content">
          {{content}}
        </div>
      </article>
    </main>
    {% include footer.html %}
  </body>
</html>