<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <span class="desktop-visible">
        {% include bio.html %}
      </span>
      <article>
        <div class="meta">
          <h1 class="title">
            {{page.title}}
          </h1>
          <h4>
            {{page.subtitle}}
          </h4>
          <small>{{page.date|date_to_string}}, {{page.read-time}} minutes read</small>
        </div>
        <div class="content">
          {{content}}
        </div>
      </article>
      <span class="phone-visible">
        {% include bio.html %}
      </span>
    </main>
    <span class="share">{% include share-buttons.html %}</span>
    <div id="hyvor-talk-view" class="comments"></div>
    <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = 1263; // DO NOT CHANGE THIS
        var HYVOR_TALK_CONFIG = {
            url: '{{ page.url | absolute_url }}',
            id: '{{page.id}}'
        };
    </script>
    <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
    {% include footer.html %}
  </body>
</html>