<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <span class="desktop-visible">
        {% include bio.html %}
      </span>
      <article>
        <div class="meta">
          <h1 class="title">
            {{page.title}}
          </h1>
          <small>{{page.date|date_to_string}}</small>
        </div>
        <div class="content">
          {{content}}
        </div>
      </article>
      <span class="phone-visible">
        {% include bio.html %}
      </span>
    </main>
    {% include footer.html %}
  </body>
</html>